.up-img-center{
    margin: 0 auto;
}

.up-txt-center{
    text-align: center;
    margin: 0 auto;
}

.up-padding-top-login{
    padding-top: 50px;
}

.up-button-facebook {
    background-color: #415E9B !important;
    border-color: #415E9B !important;
}
